<app-navbar [user]="user"></app-navbar>
<main class="main-content">
	<router-outlet></router-outlet>
	<form name="myForm" id="myForm" enctype="multipart/form-data" (submit)="handleSubmit($event)">
		<input type="file" name="file" id="file" (change)="onFileSelected($event)">
		<button type="submit">Test upload file</button>
	</form>
</main>
<footer>Global Private Footer</footer>
<div class="container">
	<h1>Install Bootstrap 4 in Angular 9 - ItSolutionStuff.com</h1>
	
	<div class="card">
	  <div class="card-header">
		Featured
	  </div>
	  <div class="card-body">
		<h5 class="card-title">Special title treatment</h5>
		<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	  </div>
	</div>
  </div>