.fullscreen
	position: fixed
	display: flex
	align-items: center
	justify-content: center

	top: 0
	left: 0
	right: 0
	bottom: 0

.form-container
	padding: 10px
	background-color: #eeeeee
	border: apx solid #aaa
	form
		display: flex
		flex-direction: column

		> * + *
			margin-top: 10px

	input
		text-indent: 10px
		height: 40px
		min-width: 200px