<div class="fullscreen">
	<div class="form-container">
		<div *ngIf="errors">
			{{ errors }}
		</div>
		<form (submit)="handleSubmit($event)">
			<input [(ngModel)]="username" name="username" type="text" placeholder="enter a username" />
			<input [(ngModel)]="password" name="password" type="password" placeholder="enter a password" />
			<button type="submit">Login</button>
		</form>
	</div>
</div>
