<div>
	<h4><%= book %> </h4>
	<div>
		<% if (locals.slug) { %>
			<a href="/reviews/<%= slug %>">
				<small><strong>Slug: </strong> <% slug %></small>
			</a>
		<% } %>
	</div>
	<small><%= read ? 'Read the book' : 'Did not read the book' %></small>
	<% if (locals.image) { %>
		<div>
			<img src="<%= locals.image  %> " />
		</div>
	<% }%>
	<p><%= review %> </p>
</div>