<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>Hello</title>
</head>
<body>
	<div class="container">
		<h1>Hello app</h1>
		<% if(locals.success) { %> 
			<div class="success">
				<small>Your form was submitted with success</small>
			</div>
		<% } %>
		<% if(locals.error) { %> 
			<div class="error">
				<small>Could not create your review</small>
			</div>
		<% } %>

		<form method="POST" enctype="multipart/form-data">
			<label class="input">
				<h5>Name:</h5>
				<input name="name" type="text" placeholder="John Doe" />
			</label>
			<label class="input">
				<h5>Email:</h5>
				<input required name="email" type="email" placeholder="john.doe@test.com" />
			</label>
			<label class="input">
				<h5>Image:</h5>
				<input type="file" name="photo" />
			</label>
			<label class="input">
				<h5>Book:</h5>
				<input name="book" type="text" placeholder="Book title" />
			</label>
			<label class="input">
				<h5>Review:</h5>
				<textarea name="review" placeholder="Write your review"></textarea>
			</label>
			<div class="toggle">
				<label><input name="read" type="radio" value="true" checked /> read</label>
				<label><input name="read" type="radio" value="false" /> not read</label>
			</div>
			<button type="submit">Submit</button>
		</form>
	</div>
	<div>
		<% reviews.forEach((review) => { %>
			<%- include('../partials/review', review) %>
		<% }) %>
	</div>
</body>
</html>