<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css">
	<title>User Reviews</title>
</head>

<body>
	<div class="container">
		<h1>Hello <%= user %> </h1>
		<form>
			<input name="book" />
			<button type="submit">Search</button>
		</form>
		<% if (!reviews.length) { %>
			<div>Não existe nenhum resultado</div>
		<% } %>
		<div>
			<% reviews.forEach((review) => { %>
				<%- include('../partials/review', review) %>
			<% }) %>
		</div>
	</div>
</body>

</html>