<header class="header">
	<div class="aside">
		<div>Logo</div>
		<div>
			<a routerLink="/" routerLinkActive="is-selected" [routerLinkActiveOptions]="{ exact: true }">Home</a>
			<a routerLink="/covtests" routerLinkActive="is-selected">Covtests</a>
		</div>
	</div>
	<div>
		<span *ngIf="user">{{user.username}}</span>
		<button (click)="logout()">Logout</button>
	</div>
</header>
