.header
	display: flex
	justify-content: space-between
	align-items: center
	background: #f6f6f6
	height: 50px
	padding: 10px
	box-sizing: border-box

	a
		color: #999
		text-decoration: none
		padding: 10px

	a.is-selected
		color: #111
		text-decoration: underline

.aside
	display: flex