body {
	background-color: #EEEEEE;
  }
  
  .weahterform {
	background-color: #FFF;
	padding: 20px 20px 10px 20px;
	margin-top: 30px;
  }
  
  .weahterform h1 {
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
  }
  
  .form-control {
	border-radius: 0;
  }
  
  #paw-results-row {
	display: none;
  }
  
  .paw-form-element {
	margin-top: 10px;
  }
  /*# sourceMappingURL=style.css.map */