

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>{{ title }}</h1>
<small>{{ subtitle }}</small>

<div *ngFor="let item of list">
  <my-component [item]="item"></my-component>
</div>

<form (submit)="handleSubmit($event)">
  <input name="username" type="text" [(ngModel)]="username" />
  <button type="input">Submit</button>
</form>

<router-outlet></router-outlet>