body {
  background: #f6f6f6;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.input h5 {
  margin-bottom: 0.5em;
}

.input input {
  width: 100%;
  height: 34px;
  text-indent: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input input::-webkit-input-placeholder {
  color: red;
}

.input textarea {
  padding: 10px;
  width: 100%;
  min-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.toggle * + * {
  margin-left: 10px;
}

.success {
  color: #5cb85c;
  border: 1px solid #5cb85c;
  background: #eaf6ea;
  padding: 10px;
}

.error {
  color: #cc0000;
  border: 1px solid #5cb85c;
  background: #eaf6ea;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */