body
	background: #f6f6f6

form
	display: flex
	flex-direction: column

.container
	max-width: 800px
	margin-left: auto
	margin-right: auto

.input
	h5
		margin-bottom: 0.5em

	input
		width: 100%
		height: 34px
		text-indent: 10px
		box-sizing: border-box
		&::-webkit-input-placeholder
			color: red

	textarea
		padding: 10px
		width: 100%
		min-height: 200px
		box-sizing: border-box
		resize: vertical

.toggle
	display: flex
	margin: 1em 0
	* + *
		margin-left: 10px


.success
	color: #5cb85c
	border: 1px solid #5cb85c
	background: lighten(#5cb85c, 40%)
	padding: 10px

.error
	color: #cc0000
	border: 1px solid #5cb85c
	background: lighten(#5cb85c, 40%)
	padding: 10px
