body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

.top-nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
}

.aside-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.aside-menu > * {
  opacity: 0;
}

.backdrop {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.menu {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90%;
  max-width: 600px;
  padding: 100px 20px 20px 20px;
  background-color: #ffffff;
  font-size: 3em;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: opacity 300ms linear, -webkit-transform 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear;
  transition: transform 300ms linear, opacity 300ms linear, -webkit-transform 300ms linear;
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu li {
  width: 100%;
  -webkit-transform: translateX(140%);
          transform: translateX(140%);
  -webkit-transition: opacity 500ms linear, -webkit-transform 300ms cubic-bezier(0.75, -0.015, 0.565, 1.055);
  transition: opacity 500ms linear, -webkit-transform 300ms cubic-bezier(0.75, -0.015, 0.565, 1.055);
  transition: transform 300ms cubic-bezier(0.75, -0.015, 0.565, 1.055), opacity 500ms linear;
  transition: transform 300ms cubic-bezier(0.75, -0.015, 0.565, 1.055), opacity 500ms linear, -webkit-transform 300ms cubic-bezier(0.75, -0.015, 0.565, 1.055);
  -webkit-transition-delay: calc(150ms * (var(--length) - var(--index)1));
          transition-delay: calc(150ms * (var(--length) - var(--index)1));
  opacity: 0;
}

.aside-menu.is-open {
  pointer-events: none;
}

.aside-menu.is-open > * {
  opacity: 1;
}

.aside-menu.is-open .menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.aside-menu.is-open .menu li {
  -webkit-transition-delay: calc(150ms + 150ms * var(--index));
          transition-delay: calc(150ms + 150ms * var(--index));
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */