body
	margin: 0
	padding: 0
	background: #f3f3f3

.top-nav
	position: fixed
	display: flex
	justify-content: flex-end
	align-items: center
	top: 0
	right: 0
	left: 0
	height: 60px
	padding: 20px
	box-sizing: border-box
	z-index: 100

.aside-menu
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 0

	pointer-events: none
	overflow: hidden

	> *
		opacity: 0

.backdrop
	position: absolute
	right: 0
	top: 0
	bottom: 0
	left: 0
	background-color: rgba(0, 0, 0, 0.4)

	opacity: 0
	transition: opacity 300ms linear

.menu
	position: absolute
	right: 0
	top: 0
	bottom: 0
	width: 90%
	max-width: 600px

	padding: 100px 20px 20px 20px

	background-color: #ffffff
	font-size: 3em
	text-transform: uppercase

	transform: translateX(100%)
	transition: transform 300ms linear, opacity 300ms linear
	transition-delay: 800ms

	ul
		display: flex
		flex-direction: column
		padding: 0
		margin: 0
		list-style: none
		

	li
		width: 100%
		transform: translateX(140%)
		transition: transform 300ms cubic-bezier(0.750, -0.015, 0.565, 1.055), opacity 500ms linear
		transition-delay: calc(150ms * (var(--length) - var(--index)1))
		opacity: 0

.aside-menu.is-open
	pointer-events: none
	> *
		opacity: 1

	.menu
		transform: translateX(0%)
		transition-delay: 0ms

		li
			transition-delay: calc(150ms + 150ms * var(--index))
			transform: translateX(0)
			opacity: 1