<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<h1>Hello App</h1>
	<h3>Server-side rendering</h3>
	<% products.forEach((product) => { %>
	<div><%= product.name %></div>
	<% }) %>

	<div>
		<h3>Client-side rendering</h3>
		<div class="my-list"></div>

		<form onsubmit="createProduct(event)">
			<input name="name"></input>
			<input name="description"></input>
			<input type="number" name="quantity"></input>
			<button type="submit">New</button>
		</form>
	</div>
	<script>
		const listElement = document.querySelector('.my-list')
		listElement.innerHTML = 'loading...'
		fetch('/api/products')
			.then((result) => result.json())
			.then((result) => {

				const children = result.map((product) => {
					return `<div>${ product.name }</div>`
				}).join('')
				listElement.innerHTML = children
			})

		function createProduct(e) {
			e.preventDefault()
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					console.log(JSON.parse(xhttp.response))
					window.location.reload()
				}
			};

			xhttp.open("POST", `http://localhost:3000/api/products`, true);
			xhttp.setRequestHeader("Accept", "application/json");
			xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
			xhttp.send(new URLSearchParams(new FormData(e.target)).toString());
			// xhttp.setRequestHeader("Content-Type", "application/json");
			// xhttp.send(JSON.stringify({
			// 	"name": "From JS Client",
			// 	"description": "From JS Client description",
			// 	"quantity": 100
			// }));
		}

	</script>
</body>

</html>