<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>Document</title>
</head>
<body>
	<h1>Hello </h1>
	<% if (locals.success) { %>
		<div>Your form was submitted with success</div>
	<% } %>
	<form method="POST">
		<input name="name" type="text" />
		<button type="submit">Submit</button>
	</form>
	<%- include('../partials/list', {list}) %>
</body>
</html>